* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$primary-color: green;
$font-color: rgb(28, 77, 28);
$font-size-base: 1.5rem;
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
body {
  font-family: sans-serif;
}
.container {
  width: 100vw;
  min-height: auto;
  flex-wrap: wrap;
  display: flex;
}
.left {
    width: 50vw;
    height: auto;
 .image {
      width: 100%;
      height: 100%;
      background-image: url("/asset/Picture1.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: -1;
 }
   .tick {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       flex-direction: column;
       gap: 50%;
       background-color: $primary-color;
       width: 150px;
       height: 100%;
       position: absolute;
       bottom: 0%;
       right: 0%;

            img {
              width: 100px;
              bottom: 10px;
            }
          }
 .circles {
        @include flex-center(column, flex-end, center);
        gap: 20px;
       bottom: 0px;
       
       position: absolute;
        .circle-1 {
          width: 130px;
          height: 100px;
          border-radius: 50%;
          background-color: lighten($primary-color, 10%);
        }

        .circle-2 {
          width: 150px;
          height: 100px;
          border-radius: 50% 50% 0 0;
          background-color: #fff;
        }
      }

    
}
 .right {
    width: 50vw;
     height: auto;
     position: relative;
  
  .header {
      display: flex;
      justify-content: flex-start;
      margin: 5rem 0;
   a {
        margin: 2rem;
        font-weight: bold;
        font-size: $font-size-base;
        color: $primary-color;
        text-decoration: none;
      }
    }
.text {
      color: $font-color;

      h1 {
        font-size: 4rem;
        margin: 5rem 3rem 2rem 5rem;
      }

      p {
        font-size: $font-size-base;
        margin-left: 5rem;
        line-height: 1.6;
      }

      img {
        width: 50rem;
        top: 0;
        left: 10rem;
        z-index: -1;
        position: absolute;
      }
    }
    .footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 5rem;

      img {
        width: 15rem;
      }
    }
}
@media screen and (max-width: 768px) {
 
  .right 
  .text{
    h1 {
      font-size: 1rem;
      margin: 1rem; 
    }

    p {
      font-size: 0.5rem;
      margin: 1rem; 
    }
    img{
      top: 18rem;
      left: 5rem;
      width: 10rem;
    }
    

      }
      .right .header a{
        font-size: 0.5rem;
        margin-left: 1rem;
        padding: 0px;
      }
     .right .footer img {
    width: 10rem;
    margin: 0%;

  }

  .left {
    .image{
      height: 650px;
    }
    .tick {
      width: 80px;
      height: 250px;

      img {
        width: 50px;
      }
    }

    .circles {
      .circle-1 {
        width: 50px;
        height: 60px;
      }

      .circle-2 {
        width: 80px;
        height: 70px;
      }
    }
  }
}



